*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background: linear-gradient(318.01deg, rgba(0, 73, 116, 0.55) 27.16%, rgba(255, 255, 255, 0.55) 100%);
}

.logo{
    position: absolute;
    left: 21%;
    top: 7%;
    width:12%;
    height:10%;
    }

.container{
    width:60%;
    height: 55%;
    display: flex;
    background: #FFFFFF;
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    justify-content: center;
    align-items: center;

}

.form-side{
    width:50%;
    height: 100%;
    display: flex;
    border-radius: 20px 0 0 20px;
    flex-direction: column;
}

.img-side{
    width:50%;
    height: 100%;
    display: flex;
    border-radius: 0px 20 20 0px;
    flex-direction: column;
}

.img-side img{
    width: 100%;
    height: 100%;
    background: url(bulb1-ge707e542d_1920.jpg);
    background-blend-mode: color;
    mix-blend-mode: normal;
    border-radius: 0px 20px 20px 0px;
}

.title{
    width: 120%;
    height: 50px;
    background: #004974;
    border-radius: 20px 0px 0px 0px;
}

.title > h1 {
width: 248px;
height: 30px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-transform: uppercase;
padding: 10px 10px 10px 30px;
color: #D9D9D9;
}

.name label{

width: 183px;
height: 24px;
margin-top: 10px;
margin-left:30px;
display: flex;

font-family: 'Inter';
font-style: normal;
font-size: 12px;
text-transform: uppercase;

color: #5F5F5F;
}
.name input {
    width: 70%;
    height: 30px;
    margin-left: 30px;
    padding-left:5px;
    background: #D9D9D9;
    border-radius: 5px;
    border-color:#D9D9D9;
    
}

.email label{

    width: 183px;
    height: 24px;
    margin-top: 10px;
    margin-left:30px;
    display: flex;
    
    font-family: 'Inter';
    font-style: normal;
    font-size: 12px;
    text-transform: uppercase;
    
    color: #5F5F5F;
    }
    .email input {
        width: 70%;
        height: 30px;
        margin-left: 30px;
        padding-left:5px;
        background: #D9D9D9;
        border-radius: 5px;
        border-color:#D9D9D9;
        
    }

    .date label{

        width: 183px;
        height: 24px;
        margin-top: 10px;
        margin-left:30px;
        display: flex;
       
        
        font-family: 'Inter';
        font-style: normal;
        font-size: 12px;
        text-transform: uppercase;
        
        color: #5F5F5F;
        }
        .date input {
            width: 30%;
            height: 30px;
            margin-left: 30px;
            padding-left:5px;
            background: #D9D9D9;
            border-radius: 5px;
            border-color:#D9D9D9;
            color:#5F5F5F;
        }

        .sexo label{

            width: 183px;
            height: 24px;
            margin-top: 10px;
            margin-left:30px;
            display: flex;
            
            
            font-family: 'Inter';
            font-style: normal;
            font-size: 12px;
            text-transform: uppercase;
            
            color: #5F5F5F;
            }
            .sexo select {
                width: 30%;
                height: 30px;
                margin-left: 30px;
                padding-left:5px;
                background: #D9D9D9;
                border-radius: 5px;
                border-color:#D9D9D9;
                color:#5F5F5F;
                
                
            }


.button input {

    width: 30%;
    height: 32px; 
    float: center;
    flex-direction: row;

    background: #BB653F;
    border-color:#BB653F;
    border-radius: 7px;
    margin-left: 47%;
    margin-bottom: 15px;
    padding-left:5px;

    color:white;
    
}

.button input:hover{

    width: 30%;
    height: 32px; 
    float: center;
    flex-direction: row;

    background: #9c3c13;
    border-color:#9c3c13;
    border-radius: 7px;
    margin-left: 47%;
    margin-bottom: 15px;
    padding-left:5px;

    color:white;
    
}
